.dropdown {
  max-width: 500px;
}

.dropdown-trigger {
  position: relative;
  border: 1px solid rgb(105, 105, 105);
  padding: 10px;
}

.dropdown-arrow {
  position: absolute;
  top: 13px;
  right: 10px;
  transform: rotate(90deg);
  transform-origin: center;
}

.dropdown-arrow.up {
  transform: rotate(-90deg);
}

.dropdown-placeholder {
  color: rgb(129, 129, 129);
}

.dropdown-panel {
  margin-top: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  background: #ccc;
}

.selected-item {
  display: inline-block;
  background: #ccc;
  margin-right: 5px;
  border-radius: 3px;
  padding: 3px;
}

.unselect-item-button {
  background: transparent;
  margin-left: 3px;
  border: 0;
}
